.layout {
    width: 100%;
    height: 100%;
}

.imgContainer {
    padding: 50px 0 100px 0;
}

.imgContainer:last-child {
    height: 100px;
}

.imgContainer img {
    display: block;
    width: 400px;
    margin: 0 auto;
}

.childrenWrapper {
    display: flex;
    padding: 0 150px;
}

@media only screen and (max-width: 400px) {
    .imgContainer img {
        width: 300px;
    }
}

@media only screen and (max-width: 300px) {
    .imgContainer img {
        width: 200px;
    }
}